Repository ansible-collections/ansible.scm, pull requests merged in 2023-08, with the labels that each got.

#224 Fix pytest error
  tests/integration/test_integration.py
Labels: bug, safe to test, skip-changelog

#225 Changelog updated
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  galaxy.yml
Labels: safe to test, skip-changelog

#227 Molecule as the integration test runner
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  extensions/molecule/default/create.yml
  extensions/molecule/default/molecule.yml
  extensions/molecule/integration_failure/molecule.yml
  extensions/molecule/integration_key_checking/molecule.yml
  extensions/molecule/integration_success/molecule.yml
  extensions/molecule/integration_user_dir/molecule.yml
  extensions/molecule/resources/playbooks/converge.yml
  extensions/molecule/resources/playbooks/noop.yml
  extensions/molecule/resources/templates/molecule.yml
  extensions/molecule/resources/vars/vars.yml
  mypy.ini
  pyproject.toml
  test-requirements.txt
  tests/integration/targets/failure/tasks/main.yaml
  tests/integration/test_integration.py
  tox-ansible.ini
Labels: safe to test, skip-changelog

#228 Changelog updated
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/support_git_tag.yaml
  galaxy.yml
Labels: safe to test, skip-changelog

#231 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#233 Updated Readme to be more explicit on what the SCM collection is and …
  README.md
Labels: bug, safe to test

#234 Changelog updated
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  galaxy.yml
Labels: safe to test, skip-changelog
