Repository ansible-collections/ansible.scm, pull requests merged in 2023-04, with the labels that each got.

#90 Changelog updated
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#91 Add release workflow
  .github/workflows/release.yml
Labels: safe to test, skip-changelog

#94 Update push.yml
  .github/workflows/push.yml
Labels: skip-changelog, Impatience allowed

#95 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#96 Format flake8
  .flake8
Labels: safe to test, skip-changelog, Impatience allowed

#98 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#100 Swap integration tests back
  .github/workflows/privileged.yml
Labels: safe to test, skip-changelog

#99 Chore tox
  .config/dictionary.txt
  .github/workflows/test.yml
  .pre-commit-config.yaml
  cspell.config.yaml
  galaxy.yml
  mypy.ini
  test-requirements.txt
  tests/integration/test_integration.py
  tests/unit/test_smoke.py
  tox.ini
  toxfile.py
Labels: safe to test, skip-changelog

#104 Fix secret
  .github/workflows/test.yml
Labels: safe to test, skip-changelog

#105 Add all green
  .github/workflows/test.yml
  test-requirements.txt
Labels: safe to test, skip-changelog

#107 Better sorting of envname
  .github/workflows/test.yml
  toxfile.py
Labels: safe to test, skip-changelog

#111 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#112 Spelling addition
  .config/dictionary.txt
  .pre-commit-config.yaml
  tox.ini
Labels: safe to test, skip-changelog

#116 Remove root init
  .github/workflows/test.yml
  __init__.py
Labels: safe to test, skip-changelog

#118 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#117 Pin to earlier setuptools for 3.8/2.9
  .pre-commit-config.yaml
  tox.ini
Labels: safe to test, skip-changelog

#120 Improve tox.ini
  tox.ini
Labels: safe to test, skip-changelog

#123 Comments and spelling
  .config/dictionary.txt
  tox.ini
Labels: safe to test, skip-changelog

#124 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#127 Rsync instead of clone
  tox.ini
Labels: safe to test, skip-changelog

#129 Move matrix to plugin
  .config/dictionary.txt
  .github/workflows/test.yml
  .vscode/launch.json
  tox.ini
  toxfile.py
Labels: safe to test, skip-changelog

#130 Continue moving ini logic to plugin
  .config/dictionary.txt
  .vscode/launch.json
  plugins/action/git_retrieve.py
  plugins/plugin_utils/git_base.py
  tests/integration/test_integration.py
  tox.ini
  toxfile.py
Labels: safe to test, skip-changelog

#125 Add `ruff` and `darglint`, remove `flake8` and `isort`
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  plugins/action/git_publish.py
  plugins/action/git_retrieve.py
  plugins/modules/git_publish.py
  plugins/modules/git_retrieve.py
  plugins/plugin_utils/command.py
  plugins/plugin_utils/compatibility.py
  plugins/plugin_utils/git_base.py
  pyproject.toml
  tests/integration/__init__.py
  tests/integration/test_integration.py
  tests/unit/conftest.py
  toxfile.py
Labels: safe to test, skip-changelog

#131 Refactor plugin
  .config/dictionary.txt
  toxfile.py
Labels: safe to test, skip-changelog

#132 Refactor plugin
  .config/dictionary.txt
  toxfile.py
Labels: safe to test, skip-changelog

#133 Remove plugin, use standalone
  .github/workflows/test.yml
  test-requirements.txt
  toxfile.py
Labels: safe to test, skip-changelog

#134 Correct GHA test
  .github/workflows/test.yml
Labels: safe to test, skip-changelog

#135 Empty
  .github/workflows/test.yml
Labels: safe to test, skip-changelog

#137 Empty
  .github/workflows/test.yml
Labels: skip-changelog

#139 Add ah release and token refresh
  .github/workflows/release.yml
  .github/workflows/token_refresh.yml
Labels: safe to test, skip-changelog

#140 Changelog updated
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  galaxy.yml
Labels: safe to test, skip-changelog

#141 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#142 Changelog updated
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  galaxy.yml
Labels: safe to test, skip-changelog

#144 Changelog updated
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  galaxy.yml
Labels: safe to test, skip-changelog

#145 Changelog updated
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  galaxy.yml
Labels: safe to test, skip-changelog

#146 Changelog updated
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  galaxy.yml
Labels: safe to test, skip-changelog

#149 Update test requirements
  test-requirements.txt
Labels: safe to test, skip-changelog

#150 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#151 Add concurrency to ack
  .github/workflows/ack.yml
Labels: safe to test, skip-changelog

#147 Readme doc update
  README.md
Labels: bug, safe to test
