Repository ansible-collections/ansible.scm, pull requests merged in 2023-12, with the labels that each got.

#220 Enable ansible-lint
  .github/workflows/ansible-lint.yml
  .github/workflows/test.yml
  .yamllint
  playbooks/site.yaml
  tests/integration/targets/key_checking/tasks/main.yaml
  tests/integration/targets/success/tasks/main.yaml
  tests/integration/targets/user_dir/tasks/main.yaml
Labels: bug, safe to test

#240 Fix reported tox errors when performing in memory/system file operations
  .ansible-lint
  .github/dependabot.yml
  .github/workflows/ah_token_refresh.yml
  .github/workflows/lint.yml
  README.md
  changelogs/fragments/fix_tox_failures.yaml
  docs/ansible.scm.git_publish_module.rst
  docs/ansible.scm.git_retrieve_module.rst
  extensions/molecule/resources/playbooks/noop.yml
  meta/runtime.yml
  playbooks/demo.yaml
  playbooks/site.yaml
  plugins/action/git_publish.py
  plugins/action/git_retrieve.py
  plugins/modules/git_publish.py
  plugins/modules/git_retrieve.py
  plugins/plugin_utils/git_base.py
  pyproject.toml
  tox-ansible.ini
Labels: safe to test, minor

#245 Prepare Release 2.0.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/fix_tox_failures.yaml
  extensions/molecule/resources/vars/vars.yml
  galaxy.yml
Labels: safe to test, skip-changelog
