Repository ansible-collections/ansible.scm, pull requests merged in 2023-05, with the labels that each got.

#154 Changelog updated
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#161 Remove unused workflows / Correct test
  .github/workflows/basic.yml
  .github/workflows/privileged.yml
  .github/workflows/test.yml
Labels: safe to test, skip-changelog

#162 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#164 Remove testing with python3.8, switch to pytest-ansible for tests
  .vscode/settings.json
  test-requirements.txt
  tox-ansible.ini
  tox.ini
Labels: safe to test, skip-changelog

#163 Allow git_publish when token is not defined
  plugins/action/git_publish.py
Labels: bug, safe to test

#166 Changelog updated
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#168 Changelog updated
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  galaxy.yml
Labels: safe to test, skip-changelog

#170 Run antsichaut from source
  .github/workflows/push.yml
Labels: safe to test, skip-changelog

#171 Changelog updated
  .github/workflows/push.yml
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#173 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#177 Use tox-ansible from pypi
  test-requirements.txt
Labels: safe to test, skip-changelog

#179 Changelog updated
  changelogs/changelog.yaml
Labels: skip-changelog

#183 Use PR
  test-requirements.txt
Labels: safe to test, skip-changelog

#178 Switch to reusable workflow
  .github/workflows/release.yml
  tox.ini
Labels: safe to test, skip-changelog

#186 Restore tox-ansible dep
  test-requirements.txt
Labels: safe to test, skip-changelog

#187 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#175 Enable py38 tests
  .github/workflows/test.yml
  tox-ansible.ini
Labels: bug, safe to test

#189 Update push.yml
  .github/workflows/push.yml
Labels: skip-changelog

#191 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#196 Update version in galaxy.yml
  .github/workflows/push.yml
  .pre-commit-config.yaml
Labels: safe to test, skip-changelog

#198 Update push.yml
  .github/workflows/push.yml
Labels: skip-changelog

#200 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#202 Switch to reusable token refresh workflow
  .github/workflows/ah_token_refresh.yml
  .github/workflows/token_refresh.yml
Labels: safe to test, skip-changelog

#208 Changelog updated
  changelogs/changelog.yaml
Labels: safe to test, skip-changelog

#214 Push to origin HEAD
  plugins/action/git_publish.py
Labels: bug, safe to test

#215 Avoid unnecessary use of a persistent connection
  plugins/action/git_publish.py
  plugins/action/git_retrieve.py
Labels: enhancement, safe to test

#216 Changelog updated
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  galaxy.yml
Labels: safe to test, skip-changelog
